.header-container
    height: 15vh
    width: 100%

    .header
        width: 100%
        height: 100%
        position: relative
        display: flex

        .head-title
            padding: 15px
            color: white

            i
                margin: 0 15px
                color: white