.navbar
    box-shadow: 0px 60px 20px -10px black-shadow(.5), 0px -60px 20px -10px black-shadow(.5)

    .navbar-logo
        box-shadow: 5px 5px 20px -10px black-shadow(.5)
        background-color: $primary
        display: inline-block
        width: 100%
        height: 100%
        padding: 0 10px

        img
            width: 100%
            height: auto