#login
    background-image: url($images-route + 'login.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%
    box-shadow: inset 0px 60px 20px -10px black-shadow(.5), inset 0px -60px 20px -10px black-shadow(.5)
    padding: 100px 50px
    margin: 0
    max-width: none

    .general-container
        height: 100%

        .login-logo
            padding: 5px
            width: 85%
            position: absolute
            top: -4rem
            left: 50%
            transform: translateX(-50%)

        .login-button
            position: absolute
            bottom: -1rem
            left: 50%
            transform: translateX(-50%)