html
    overflow: hidden

.view-container

.ps
    height: 100%

.v-btn

    .button-icon
        margin-right: 10px

.positive-qty
    color: green
    font-weight: bold

.dialog-title
    width: 100%
    height: 2.5em
    background-color: $primary !important

    .head-title
        padding: 8px 15px
        color: white

        i
            margin: 0 15px
            color: white !important

    .dialog-title-btn
        width: 33px
        height: 33px

        &.close
            i
                color: white !important
                
            &:hover
                i
                    color: red !important