<template>
  <v-expansion-panels v-model="panel">
    <v-expansion-panel>
      <v-expansion-panel-header>Materiales</v-expansion-panel-header>
      <v-expansion-panel-content>
        <materials/>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header>Proveedores</v-expansion-panel-header>
      <v-expansion-panel-content>
        <providers/>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import materials from "./materials"
import providers from "./providers"

export default {
  components: {
    providers,
    materials
  }
};
</script>

<style lang="scss" scoped>
</style>