<template>
  <v-card class="card-create">
    <v-card-title>
      <v-card dark class="dialog-title">
        <v-card-title class="head-title">
          Crear nueva cotización
          <div class="flex-grow-1"></div>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn @click="$emit('close')" class="dialog-title-btn" icon v-on="on">
                <v-icon color="grey lighten-1">fa-times</v-icon>
              </v-btn>
            </template>
            <span>Cerrar</span>
          </v-tooltip>
        </v-card-title>
      </v-card>
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid" ref="form">
        <v-container grid-list-xs>
          <h2>Datos del Cliente</h2>
          <v-row>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                v-if="createClient"
                :rules="textRules"
                v-model="newClient.rut_person"
                required
                label="RUT"
              >
                <v-tooltip top slot="append">
                  <template v-slot:activator="{ on }">
                    <v-btn @click="createClient = !createClient" text v-on="on">
                      <v-icon color="grey lighten-1">{{createClient ? 'fa-search' : 'fa-times'}}</v-icon>
                    </v-btn>
                  </template>
                  <span>{{createClient ? 'Buscar Cliente' : 'Crear Cliente'}}</span>
                </v-tooltip>
              </v-text-field>
              <v-select
                v-else
                label="RUT"
                item-text="rut_person"
                :items="clients"
                v-model="searchClient"
                autocomplete
              >
                <v-tooltip top slot="append">
                  <template v-slot:activator="{ on }">
                    <v-btn @click="[createClient = !createClient]" text v-on="on">
                      <v-icon color="grey lighten-1">{{createClient ? 'fa-search' : 'fa-times'}}</v-icon>
                    </v-btn>
                  </template>
                  <span>{{createClient ? 'Buscar Cliente' : 'Crear Cliente'}}</span>
                </v-tooltip>
              </v-select>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                :disabled="!createClient"
                v-model="newClient.first_name"
                required
                :rules="textRules"
                label="Primer Nombre"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                :disabled="!createClient"
                v-model="newClient.second_name"
                label="Segundo Nombre"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                :disabled="!createClient"
                v-model="newClient.p_last_name"
                label="Apellido Paterno"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                :disabled="!createClient"
                v-model="newClient.m_last_name"
                label="Apellido Materno"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field :disabled="!createClient" v-model="newClient.email" label="Correo"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="8">
              <v-text-field
                :disabled="!createClient"
                v-model="newClient.address"
                :rules="textRules"
                label="Dirección"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field :disabled="!createClient" v-model="newClient.phone" label="Teléfono"></v-text-field>
            </v-col>
          </v-row>
          <h2>Medidas de Piscina</h2>
          <v-row>
            <v-col cols="12" sm="12" md="3">
              <v-text-field v-model="LAR" :rules="materialRules" required label="Largo (Mts)"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field v-model="ACH" :rules="materialRules" required label="Ancho (Mts)"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field
                v-model="PMIN"
                :rules="materialRules"
                required
                label="Profundidad Mínima (Mts)"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field
                v-model="PMAX"
                :rules="materialRules"
                required
                label="Profundidad Máxima (Mts)"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field disabled v-model="PPRO" required label="Profundidad Promedio (Mts)"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field disabled v-model="VOL" required label="Volumen de Agua (Mts 3)"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field disabled v-model="SUP" required label="Superficie de Agua (Mts 2)"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <v-text-field disabled v-model="AINT" required label="Área Interna (Mts 2)"></v-text-field>
            </v-col>
          </v-row>
          <h2>Materiales</h2>
          <v-row v-for="material in materials" :key="material.id_material">
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                @input="updateTotal(material)"
                :disabled="material.aggregating != 0"
                v-model="material.qty"
                :rules="materialRules"
                required
                :label="`${material.name_material} (${material.unidad})`"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span>
                Precio Unitario
                <p class="positive-qty">$ {{`${parseFloat(material.price_material)}`.toLocaleString()}}</p>
              </span>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span>
                Total
                <p class="positive-qty">$ {{material.moment_price.toLocaleString()}}</p>
              </span>
            </v-col>
          </v-row>
          <v-snackbar
            v-model="snackbar"
            :bottom="true"
            :color="snackbarColor"
            :right="true"
            :timeout="2250"
          >
            <span>
              <v-icon
                class="mx-2"
                color="white"
              >{{snackbarColor != 'success' ? 'fa-exclamation' : 'fa-check'}}</v-icon>
              {{ snackbarText }}
            </span>
            <v-btn v-if="snackbarColor != 'success'" dark text @click="snackbar = false">
              <v-icon color="white">fa-times</v-icon>
            </v-btn>
          </v-snackbar>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn color="red" dark class="mb-2" @click="$emit('close')">Cancelar</v-btn>
      <v-btn color="primary" dark class="mb-2 mr-5" @click="create">Crear Cotización</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Create",
  data() {
    return {
      snackbar: false,
      snackbarText: null,
      snackbarColor: null,
      valid: false,
      createClient: true,
      searchClient: "",
      newClient: {
        rut_person: "",
        first_name: "",
        second_name: "",
        p_last_name: "",
        m_last_name: "",
        address: "",
        phone: "",
        email: ""
      },
      LAR: 0,
      ACH: 0,
      PMIN: 0,
      PMAX: 0,
      materials: [],
      textRules: [v => !!v || "El campo no puede estar vacio"],
      materialRules: [v => v != 0 || "El campo no puede ser equivalente a 0"]
    };
  },
  mounted() {
    this.$store.dispatch("getActiveMaterials");
  },
  computed: {
    ...mapState({
      activeMaterials: state => state.materials.activeMaterials,
      clients: state => state.quotations.clients,
      quotationsMsg: state => state.quotations.quotationsMsg
    }),
    PPRO() {
      if (this.PMIN == 0 && this.PMAX == 0) return 0;
      return (parseFloat(this.PMIN) + parseFloat(this.PMAX)) / 2;
    },
    VOL() {
      if (this.LAR == 0 && this.ACH == 0 && this.PPRO == 0) return 0;
      return (
        parseFloat(this.LAR) * parseFloat(this.ACH) * parseFloat(this.PPRO)
      );
    },
    SUP() {
      if (this.LAR == 0 && this.ACH == 0) return 0;
      return parseFloat(this.LAR) * parseFloat(this.ACH);
    },
    AINT() {
      if (this.LAR == 0 && this.ACH == 0) return 0;
      return parseFloat(this.LAR) * 2 + parseFloat(this.ACH) * 2;
    },
    total() {
      if (this.materials.length == 0) return 0;
      return this.materials.reduce((p, n) => (p += n.moment_price), 0);
    },
    cloneMaterials() {
      /* eslint-disable */
      var LAR = parseFloat(this.LAR);
      var ACH = parseFloat(this.ACH);
      var PMIN = parseFloat(this.PMIN);
      var PMAX = parseFloat(this.PMAX);
      var PPRO = this.PPRO;
      var VOL = this.VOL;
      var SUP = this.SUP;
      var AINT = this.AINT;
      if (this.activeMaterials.length == 0) return [];
      let arrayFather = [];
      this.activeMaterials.forEach(e => {
        let qty = 0;
        if (e.aggregating != 0) {
          qty = eval(e.formule);
        }
        let obj = {
          formule: e.formule,
          name_material: e.name_material,
          unidad: e.unidad,
          aggregating: e.aggregating,
          id_material: e.id_material,
          qty: qty,
          price_material: e.price_material,
          moment_price: qty * e.price_material
        };
        arrayFather.push(obj);
      });
      /* eslint-enable */
      return arrayFather;
    }
  },
  methods: {
    updateTotal(item) {
      item.moment_price = parseFloat(item.qty) * item.price_material;
    },
    async create() {
      if (this.valid === true) {
        let body = {
          client: this.newClient,
          materials: this.materials,
          medidas: {
            lar: this.LAR,
            ach: this.ACH,
            pmin: this.PMIN,
            pmax: this.PMAX
          },
          total: this.total
        };
        await this.$store.dispatch("createQuotation", body);
        this.snackbarColor = "success";
        this.snackbarText = this.quotationsMsg.msg;
        this.snackbar = true;
        this.$emit("close");
        this.$emit("snack", {
          snackbarColor: "success",
          snackbarText: this.quotationsMsg.msg
        });
      } else {
        this.snackbarColor = "error";
        this.snackbarText = "Debé completar los campos requeridos";
        this.snackbar = true;
      }
    }
  },
  watch: {
    cloneMaterials(data) {
      this.materials = data;
    },
    searchClient(data) {
      if (data == "" || data == null) {
        this.newClient = {
          rut_person: "",
          first_name: "",
          second_name: "",
          p_last_name: "",
          m_last_name: "",
          address: "",
          phone: "",
          email: ""
        };
      } else {
        this.newClient = this.clients.filter(e => e.rut_person == data)[0];
      }
    },
    createClient() {
      this.searchClient = "";
    }
  }
};
</script>