<template>
  <v-card class="materials-card">
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <create @snack="setSnack" @close="close" v-if="isCreated" />
      <v-card v-else>
        <v-card-title>
          <v-card dark class="dialog-title">
            <v-card-title class="head-title">
              Cotización Nro {{selectedItem != null ? selectedItem.id_quotation : ''}}
              <div class="flex-grow-1"></div>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn @click="close" class="dialog-title-btn" dark icon v-on="on">
                    <v-icon color="grey lighten-1">fa-times</v-icon>
                  </v-btn>
                </template>
                <span>Cerrar</span>
              </v-tooltip>
            </v-card-title>
          </v-card>
        </v-card-title>

        <v-card-text>
          <v-container v-if="selectedItem != null" grid-list-xs>
            <h2>Datos del Cliente</h2>
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field v-model="selectedItem.rut_person" required disabled label="RUT"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  disabled
                  v-model="selectedItem.first_name"
                  required
                  label="Primer Nombre"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field disabled v-model="selectedItem.second_name" label="Segundo Nombre"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field disabled v-model="selectedItem.p_last_name" label="Apellido Paterno"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field disabled v-model="selectedItem.m_last_name" label="Apellido Materno"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field disabled v-model="selectedItem.email" label="Correo"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="8">
                <v-text-field disabled v-model="selectedItem.address" label="Dirección"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field disabled v-model="selectedItem.phone" label="Teléfono"></v-text-field>
              </v-col>
            </v-row>
            <h2>Medidas de Piscina</h2>
            <v-row>
              <v-col cols="12" sm="12" md="3">
                <v-text-field v-model="selectedItem.p_length" disabled required label="Largo (Mts)"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field v-model="selectedItem.p_weigth" disabled required label="Ancho (Mts)"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field
                  v-model="selectedItem.p_min_depth"
                  disabled
                  required
                  label="Profundidad Mínima (Mts)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field
                  disabled
                  v-model="selectedItem.p_max_depth"
                  required
                  label="Profundidad Máxima (Mts)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field disabled v-model="PPRO" required label="Profundidad Promedio (Mts)"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field disabled v-model="VOL" required label="Volumen de Agua (Mts 3)"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field disabled v-model="SUP" required label="Superficie de Agua (Mts 2)"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <v-text-field disabled v-model="AINT" required label="Área Interna (Mts 2)"></v-text-field>
              </v-col>
            </v-row>
            <h2>Materiales</h2>
            <v-row v-for="material in selectedItem.materials" :key="material.id_material">
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  disabled
                  v-model="material.qty"
                  required
                  :label="`${material.name_material} (${material.unidad})`"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span>
                  Precio Unitario
                  <p
                    class="positive-qty"
                  >$ {{`${parseFloat(material.price_material)}`.toLocaleString()}}</p>
                </span>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span>
                  Total
                  <p class="positive-qty">$ {{material.moment_price.toLocaleString()}}</p>
                </span>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions></v-card-actions>
      </v-card>
    </v-dialog>

    <v-card-title primary-title>
      <v-text-field prepend-inner-icon="fa-search" label="Buscar cotización..." v-model="search"></v-text-field>
      <v-spacer></v-spacer>
      <v-btn right color="primary" @click="handleCreate">
        <v-icon class="button-icon">fa-plus</v-icon>
        <span>Agregar cotización</span>
      </v-btn>
    </v-card-title>

    <v-data-table
      v-if="!selectedItem"
      :headers="headers"
      :items="searchTable"
      sort-by="id"
      class="elevation-1"
    >
      <template v-slot:item.total="{item}">
        <span class="positive-qty">$ {{item.total.toLocaleString()}}</span>
      </template>
      <template v-slot:item.status="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon color="primary" dark v-on="on">{{stateFilter(item.status).icon}}</v-icon>
          </template>
          <span>{{stateFilter(item.status).label}}</span>
        </v-tooltip>
      </template>
      <template v-slot:item.action="{ item }">
        <v-tooltip mr-2 bottom>
          <template v-slot:activator="{ on }">
            <v-icon v-on="on" small class="mr-4" @click="editItem(item)">fa-pen</v-icon>
          </template>
          <span>Editar Cotización</span>
        </v-tooltip>
        <v-menu>
          <template v-slot:activator="{ on: menu }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-icon v-on="{ ...tooltip, ...menu }">fa-ellipsis-v</v-icon>
              </template>
              <span>Menú</span>
            </v-tooltip>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-title>Eliminar</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data>
        <h3>{{quotationsMsg.msg}}</h3>
      </template>
    </v-data-table>
    <v-snackbar
      v-model="snackbar"
      :bottom="true"
      :color="snackbarColor"
      :right="true"
      :timeout="2250"
    >
      <span>
        <v-icon
          class="mx-2"
          color="white"
        >{{snackbarColor != 'success' ? 'fa-exclamation' : 'fa-check'}}</v-icon>
        {{ snackbarText }}
      </span>
      <v-btn v-if="snackbarColor != 'success'" dark text @click="snackbar = false">
        <v-icon color="white">fa-times</v-icon>
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import create from "./create";
export default {
  name: "Dashboard",
  components: {
    create
  },
  data() {
    return {
      snackbar: false,
      snackbarText: null,
      snackbarColor: null,
      isCreated: false,
      dialog: false,
      search: "",
      selectedItem: null,
      headers: [
        {
          text: "ID",
          value: "id_quotation"
        },
        {
          text: "Cliente",
          align: "left",
          value: "first_name"
        },
        { text: "RUT Cliente", value: "rut_person" },
        { text: "Total", value: "total", align: "right" },
        { text: "Estado", value: "status", align: "center" },
        { text: "Acciones", value: "action", sortable: false, align: "right" }
      ]
    };
  },
  mounted() {
    this.$store.dispatch("getQuotations");
    this.$store.dispatch("getClients");
  },
  computed: {
    ...mapState({
      quotations: state => state.quotations.quotations,
      quotationsMsg: state => state.quotations.quotationsMsg,
      clients: state => state.quotations.clients
    }),
    quotationsArray() {
      if (!this.quotations.length && !this.clients.length) return [];
      /* return this.clients.map(client => {
        const clientQuotations = this.quotations.filter(
          quotation => quotation.id_client === client.id_client
        );
        
        return {
          id: client.id_client,
          first_name: client.first_name,
          p_last_name: client.p_last_name,
          rut_person: client.rut_person,
          quotations: arrayFather,
          quotations_cant: arrayFather.length,
          total: arrayFather.reduce((p, n) => p + n.total, 0)
        };
      }); */
      let arrayFather = [];
      this.quotations.forEach(e => {
        if (arrayFather.some(sub => sub.id_quotation == e.id_quotation)) {
          arrayFather.forEach(sub => {
            if (sub.id_quotation == e.id_quotation) {
              sub.materials.push({
                id_material: e.id_material,
                name_material: e.name_material,
                moment_price: e.moment_price,
                unidad: e.unidad,
                qty: e.qty,
                price_material: parseFloat(e.moment_price) / parseFloat(e.qty)
              });
            }
          });
        } else {
          arrayFather.push({
            first_name: e.first_name,
            second_name: e.second_name,
            p_last_name: e.p_last_name,
            m_last_name: e.m_last_name,
            id_client: e.id_client,
            id_quotation: e.id_quotation,
            total: e.total,
            address: e.address,
            email: e.email,
            phone: e.phone,
            rut_person: e.rut_person,
            status: e.status,
            p_length: e.p_length,
            p_weigth: e.p_weigth,
            p_max_depth: e.p_max_depth,
            p_min_depth: e.p_min_depth,
            materials: [
              {
                id_material: e.id_material,
                name_material: e.name_material,
                moment_price: e.moment_price,
                unidad: e.unidad,
                qty: e.qty,
                price_material: parseFloat(e.moment_price) / parseFloat(e.qty)
              }
            ]
          });
        }
      });
      return arrayFather.sort((p, n) =>
        p.id_quotation > n.id_quotation ? 1 : -1
      );
    },

    searchTable() {
      if (!this.quotationsArray.length) return [];
      return this.quotationsArray.filter(
        e =>
          `${e.id_quotation}`.includes(this.search) ||
          e.first_name.toUpperCase().includes(this.search.toUpperCase()) ||
          e.rut_person.includes(this.search)
      );
    },

    PPRO() {
      if (this.selectedItem == null) return 0;
      if (
        this.selectedItem.p_min_depth == 0 &&
        this.selectedItem.p_max_depth == 0
      )
        return 0;
      return (
        (parseFloat(this.selectedItem.p_min_depth) +
          parseFloat(this.selectedItem.p_max_depth)) /
        2
      );
    },
    VOL() {
      if (this.selectedItem == null) return 0;
      if (
        this.selectedItem.p_length == 0 &&
        this.p_weigth == 0 &&
        this.PPRO == 0
      )
        return 0;
      return (
        parseFloat(this.selectedItem.p_length) *
        parseFloat(this.selectedItem.p_weigth) *
        parseFloat(this.PPRO)
      );
    },
    SUP() {
      if (this.selectedItem == null) return 0;
      if (this.selectedItem.p_length == 0 && this.selectedItem.p_weigth == 0)
        return 0;
      return (
        parseFloat(this.selectedItem.p_length) *
        parseFloat(this.selectedItem.p_weigth)
      );
    },
    AINT() {
      if (this.selectedItem == null) return 0;
      if (this.selectedItem.p_length == 0 && this.selectedItem.p_weigth == 0)
        return 0;
      return (
        parseFloat(this.selectedItem.p_length) * 2 +
        parseFloat(this.selectedItem.p_weigth) * 2
      );
    }
  },
  methods: {
    stateFilter(state) {
      switch (state) {
        case "1":
          return {
            icon: "fa-clipboard-list",
            label: "Creada"
          };

        case "2":
          return {
            icon: "fa-clipboard-check",
            label: "Aprobada"
          };

        case "3":
          return {
            icon: "fa-hammer",
            label: "En proceso"
          };

        case "4":
          return {
            icon: "fa-check",
            label: "Cerrada"
          };
      }
    },

    setSnack(val) {
      this.snackbarText = val.snackbarText;
      this.snackbarColor = val.snackbarColor;
      this.snackbar = true;
    },

    editItem(item) {
      this.selectedItem = item;
      this.dialog = true;
    },

    handleCreate() {
      this.isCreated = !this.isCreated;
      this.dialog = !this.dialog;
    },

    close() {
      this.selectedItem = null;
      this.dialog = false;
      this.isCreated = false;
    }
  }
};
</script>

<style lang="sass" scoped>

</style>