<template>
  <v-container id="login">
    <v-row align="center" justify="center" class="d-flex justify-space-around general-container">
      <v-col md="12" class="pa-15">
        <v-card class="mx-auto" style="width: 25%;" elevation="15">
          <v-card color="primary" class="mx-auto login-logo" elevation="5">
            <v-img src="../assets/img/logo-web.png"></v-img>
          </v-card>
          <v-card-text class="py-6">
            <v-form v-model="valid">
              <v-container>
                <v-row>
                  <v-col class="py-0" cols="12" md="12">
                    <v-text-field
                      v-model="user"
                      :rules="nameRules"
                      label="Usuario o correo"
                      required
                    >
                      <v-icon slot="prepend" color="primary">fa-user</v-icon>
                    </v-text-field>
                  </v-col>

                  <v-col class="py-0" cols="12" md="12">
                    <v-text-field
                      v-model="pass"
                      :rules="passRules"
                      :type="!viewPass ? 'password' : 'text'"
                      label="Contraseña"
                      required
                    >
                      <v-btn
                        text
                        @click="viewPass = !viewPass"
                        class="mx-auto"
                        slot="append"
                        elevation="0"
                      >
                        <v-icon>{{!viewPass ? 'fa-eye' : 'fa-eye-slash'}}</v-icon>
                      </v-btn>
                      <v-icon slot="prepend" color="primary">fa-key</v-icon>
                    </v-text-field>
                  </v-col>
                  <v-col class="py-0" cols="12" md="12">
                    <v-checkbox v-model="keepOpen" :label="`Mantener Sesión`"></v-checkbox>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-btn
            :disabled="!valid"
            @click="postLogin"
            class="login-button mx-auto px-4"
            color="primary"
            elevation="5"
          >Iniciar Sesión</v-btn>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :bottom="true"
      :color="snackbarColor"
      :right="true"
      :timeout="2250"
    >
      <span>
        <v-icon class="mx-2" color="white">{{snackbarColor != 'success' ? 'fa-exclamation' : 'fa-check'}}</v-icon>
        {{ snackbarText }}
      </span>
      <v-btn v-if="snackbarColor != 'success'" dark text @click="snackbar = false">
        <v-icon color="white">fa-times</v-icon>
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Login",
  data: () => ({
    valid: false,
    viewPass: false,
    keepOpen: false,
    user: "",
    pass: "",
    snackbar: false,
    snackbarColor: "error",
    snackbarText: "",
    nameRules: [
      v => !!v || "Se requiere usuario o correo",
      v => v.length >= 6 || "Debe tener al menos 6 caracteres"
    ],
    passRules: [v => !!v || "Se requiere contraseña"]
  }),
  computed: {
    ...mapState({
      loginResult: store => store.users.loginResult,
      session: store => store.users.session
    })
  },
  mounted() {
    if (this.$cookies.isKey('Session') || this.session) {
      this.store.commit('SET_SESSION', true)
      this.$router.push({name: 'list'});
    }
  },
  methods: {
    async postLogin() {
      // eslint-disable-next-line no-console
      await this.$store.dispatch("login", { user: this.user, pass: this.pass });
      if (this.loginResult.err) {
        this.snackbarColor = "error";
        this.snackbarText = this.loginResult.msg;
        this.snackbar = true;
      } else {
        this.snackbarColor = "success";
        this.snackbarText = "Sesión Iniciada";
        this.snackbar = true;
        this.$store.dispatch('setSession', { user: this.user, pass: this.pass, keepOpen: this.keepOpen })
        this.$router.push({name: 'list'});
      }
    }
  }
};
</script>

<style lang="sass" scoped>

</style>