<template>
  <div class="materials-card">
    <v-data-table :headers="headers" :items="materials" sort-by="name_material" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <div class="flex-grow-1"></div>
          <v-dialog v-model="dialog" max-width="600px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Agregar Material</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <v-card dark class="dialog-title">
                  <v-card-title class="head-title">{{formTitle}}</v-card-title>
                </v-card>
              </v-card-title>

              <v-card-text>
                <v-form v-model="valid">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="8">
                        <v-text-field
                          v-model="editedItem.name_material"
                          required
                          :rules="textRules"
                          label="Nombre del Material"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="editedItem.unidad" required label="Unidad"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-checkbox
                          v-model="editedItem.aggregating"
                          :value="1"
                          label="Calculo Automático"
                        ></v-checkbox>
                      </v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field
                          :disabled="editedItem.aggregating != 1"
                          v-model="editedItem.formule"
                          :rules="formuleRules"
                          label="Formula"
                        >
                          <v-tooltip right slot="append">
                            <template v-slot:activator="{ on }">
                              <v-btn text v-on="on">
                                <v-icon color="grey lighten-1">fa-exclamation</v-icon>
                              </v-btn>
                            </template>
                            <span>
                              <p>Intrucciones de Formula:</p>
                              <p>LAR: Largo</p>
                              <p>ACH: Ancho</p>
                              <p>PMIN: Profunidad Mínima</p>
                              <p>PMAX: Profunidad Máxima</p>
                              <p>PPRO: Profunidad Promedio</p>
                              <p>VOL: Volumen de Agua</p>
                              <p>SUP: Superficie de Agua</p>
                              <p>AINT: Área Interna</p>
                              <p>+: Sumar</p>
                              <p>-: Restar</p>
                              <p>/: Dividir</p>
                              <p>*: Multiplicar</p>
                              <p>(): Parentesis</p>
                            </span>
                          </v-tooltip>
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-select
                          v-model="editedItem.rut_person"
                          required
                          :rules="textRules"
                          :items="providers"
                          item-text="rut_person"
                          label="Proveedor"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.price_material"
                          required
                          :rules="textRules"
                          label="Precio ($)"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="red darken-1" dark @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" :disabled="!valid" dark @click="save">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.price_material="{item}">
        <span class="positive-qty">$ {{item.price_material.toLocaleString()}}</span>
      </template>
      <template v-slot:item.status="{item}">
        <v-switch
          color="green"
          :input-value="stateFilter(item.status).bool"
          @change="updateStatus(item)"
        ></v-switch>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">fa-pen</v-icon>
      </template>
      <template v-slot:no-data>
        <h3>{{materialsMsg.msg}}</h3>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from "vuex";

const formuleValidation = node => {
  let medidas = ["Lar", "Ach", "Pmin", "Pmax", "Ppro", "Vol", "Sup", "Aint"];
  let onlyText = node
    .replace(/[^a-z]/gi, "/")
    .split("/")
    .filter(e => e != "");
  if (
    onlyText.some(e => !medidas.some(m => e.toUpperCase() == m.toUpperCase()))
  )
    return false;
  return true;
};

let aggregating = 0;

const checkValidation = (node, aggregating) => {
  if (aggregating == 1 && !node) return false;
  return true;
};

export default {
  name: "Materials",
  data: () => ({
    dialog: false,
    valid: false,
    textRules: [v => !!v || "El campo no puede estar vacio"],
    formuleRules: [
      v => checkValidation(aggregating, v) || "El campo no puede estar vacio",
      v => formuleValidation(v) || "Formato no valido"
    ],
    headers: [
      {
        text: "Material",
        align: "left",
        value: "name_material"
      },
      { text: "Proveedor", value: "first_name" },
      { text: "Precio", value: "price_material" },
      { text: "Unidad", value: "unidad" },
      { text: "Estado", value: "status" },
      { text: "Acciones", value: "action", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name_material: "",
      unidad: "",
      aggregating: 0,
      formule: "",
      rut_person: "",
      price_material: 0
    },
    defaultItem: {
      name_material: "",
      unidad: "",
      aggregating: 0,
      formule: "",
      rut_person: "",
      price_material: 0
    }
  }),
  mounted() {
    if (this.providers.length == 0 || this.providers == null) {
      this.$store.dispatch("getProviders");
      this.$store.dispatch("getMaterials");
    }
  },
  computed: {
    ...mapState({
      providers: state => state.providers.providers,
      providerMsg: state => state.providers.providerMsg,
      materials: state => state.materials.materials,
      materialsMsg: state => state.materials.materialsMsg
    }),
    formTitle() {
      return this.editedIndex === -1 ? "Crear Material" : "Editar Material";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    editedItem(data) {
      aggregating = data.aggregating;
    }
  },

  methods: {
    stateFilter(state) {
      switch (state) {
        case "1":
          return {
            bool: true,
            color: "primary"
          };

        case "2":
          return {
            bool: false,
            color: "red"
          };
      }
    },

    updateStatus(item) {
      this.$store.dispatch("updateMaterialStatus", {
        id_material: item.id_material,
        status: item.status == 1 ? 2 : 1
      });
    },

    editItem(item) {
      this.editedIndex = this.materials.indexOf(item);
      item.aggregating = parseInt(item.aggregating)
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      let id_provider = this.providers.filter(
        e => e.rut_person == this.editedItem.rut_person
      )[0].id_provider;
      if (this.editedIndex > -1) {
        let obj = {
          id_material: this.editedItem.id_material,
          name_material: this.editedItem.name_material,
          unidad: this.editedItem.unidad,
          aggregating: this.editedItem.aggregating,
          formule: this.editedItem.formule,
          id_provider: id_provider,
          price_material: this.editedItem.price_material
        };
        this.$store.dispatch("updateMaterial", obj);
      } else {
        let obj = {
          id_material: this.editItem.id_material,
          name_material: this.editedItem.name_material,
          unidad: this.editedItem.unidad,
          aggregating: this.editedItem.aggregating,
          formule: this.editedItem.formule,
          id_provider: id_provider,
          price_material: this.editedItem.price_material
        };
        this.$store.dispatch("createMaterial", obj);
      }
      this.close();
    }
  }
};
</script>