<template>
  <div class="materials-card">
    <v-data-table :headers="headers" :items="providers" sort-by="id_provider" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <div class="flex-grow-1"></div>
          <v-dialog v-model="dialog" max-width="600px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Agregar Proveedor</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <v-card dark class="dialog-title">
                  <v-card-title class="head-title">{{formTitle}}</v-card-title>
                </v-card>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form v-model="valid">
                    <v-row>
                      <v-col cols="12" sm="12" md="8">
                        <v-text-field :rules="textRules" required v-model="editedItem.first_name" label="Proveedor"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field :rules="textRules" required v-model="editedItem.rut_person" label="RUT"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field :rules="textRules" required v-model="editedItem.address" label="Dirección"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field v-model="editedItem.phone" label="Télefono"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field v-model="editedItem.email" label="Correo"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="red darken-1" dark @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" :disabled="!valid" dark @click="save">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">fa-pen</v-icon>
      </template>
      <template v-slot:no-data>
        <h3>{{providerMsg.msg}}</h3>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Materials",
  data: () => ({
    viewPass: false,
    dialog: false,
    valid: false,
    textRules: [v => !!v || "El campo no puede estar vacio"],
    headers: [
      {
        text: "Proveedor",
        align: "left",
        value: "first_name"
      },
      { text: "RUT", value: "rut_person" },
      { text: "Dirección", value: "address" },
      { text: "Teléfono", value: "phone" },
      { text: "Correo", value: "email" },
      { text: "Acciones", value: "action", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      first_name: "",
      rut_person: "",
      address: "",
      phone: "",
      email: ""
    },
    defaultItem: {
      first_name: "",
      rut_person: "",
      address: "",
      phone: "",
      email: ""
    }
  }),
  mounted() {
    if (this.providers.length == 0 || this.providers == null) {
      this.$store.dispatch("getProviders");
    }
  },
  computed: {
    ...mapState({
      providers: state => state.providers.providers,
      providerMsg: state => state.providers.providerMsg
    }),
    formTitle() {
      return this.editedIndex === -1 ? "Crear Proveedor" : "Editar Proveedor";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.providers.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        this.$store.dispatch("updateProvider", this.editedItem);
      } else {
        this.$store.dispatch("createProvider", this.editedItem);
      }
      this.close();
    }
  }
};
</script>