<template>
  <v-card color="primary" class="header">
    <v-card-title class="head-title">
      <v-icon>{{$route.meta.icon}}</v-icon>
      {{$route.meta.title}}
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: "Headview"
};
</script>