<template>
  <v-navigation-drawer app v-if="notNavbar" class="navbar">
    <template v-slot:prepend>
      <router-link elevation="5" class="navbar-logo" to="/">
        <img src="../assets/img/logo-web.png" alt />
      </router-link>
    </template>

    <v-divider></v-divider>

    <v-list nav dense>
      <v-list-item link :to="route.path" v-for="(route, key) in routesList" :key="key">
        <v-list-item-icon>
          <v-icon>{{route.meta.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{route.meta.title}}</v-list-item-title>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn block color="primary" @click="closeSession">
          <v-icon mx-2>fa-sign-out-alt</v-icon>Cerrar Sesión
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Navbar",
  data() {
    return {};
  },
  created() {
    if (!this.session) {
      this.$router.push({ name: "login" });
    }
  },
  computed: {
    ...mapState({
      session: store => store.users.session
    }),
    notNavbar() {
      if (!this.$route.meta.navbar) return false;
      return true;
    },
    routesList() {
      let routes = this.$router.options.routes;
      let arryFather = [];
      let ignoreRoutes = ["login"];
      for (let i = 0; i < routes.length; i++) {
        let route = routes[i];
        if (ignoreRoutes.some(e => e == route.name)) continue;
        arryFather.push(route);
      }
      return arryFather;
    }
  },
  methods: {
    closeSession() {
      this.$store.dispatch('closeSession')
      this.$router.push({ name: "login" })
    }
  }
};
</script>