<template>
  <v-app>
    <navbar/>
    <v-content v-if="notNavbar">
      <v-container grid-list-xs class="header-container">
        <headview/>
      </v-container>
      <v-container grid-list-xs class="view-container">
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-content v-else>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from './compenents/navbar'
import Headview from './compenents/header'
export default {
  name: 'App',
  components: {
    Navbar,
    Headview
  },
  data: () => ({
    //
  }),
  computed: {
    notNavbar() {
      if (!this.$route.meta.navbar) return false;
      return true;
    },
  }
};
</script>

<style lang="sass">
  @import 'styles/styles.sass'
</style>
